:root {
    --blue: #3490dc;
    --indigo: #6574cd;
    --purple: #9561e2;
    --pink: #f66d9b;
    --red: #e3342f;
    --orange: #f6993f;
    --yellow: #ffed4a;
    --green: #38c172;
    --teal: #4dc0b5;
    --cyan: #6cb2eb;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3490dc;
    --secondary: #6c757d;
    --success: #38c172;
    --info: #6cb2eb;
    --warning: #ffed4a;
    --danger: #e3342f;
    --light: #f8f9fa;
    --dark: #343a40;
    --app-primary: #48a932;
    --app-secondary: #436034;
    --text-color: #adafae;
    --green-aml: #4da833;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.width-100{
    width: 100%;
}
.width-400{
    width: 100%;
}

.no-margin{
    margin: 0px 0px 0px 0px;
}

.gray-dark{
    color: var(--gray-dark);
}
.green-aml{
    color: var(--green-aml);
}

.hover-greend:hover{
    color: var(--greend-aml);
}

.margin-top--5{
    margin-top: -5px;
}

.cursor-pointer{
    cursor: pointer;
}