
body {
    height: 100%;
    font-family: Montserrat-Regular, Roboto, Arial, sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

p {
    text-align: justify;
}

a {
    color: var(--secondary);
    
}

a:hover {
    color: var(--secondary);
}

.info {
    margin-bottom: 40px;
}

.info-alert {
    color: var(--primary);
    font-size: .9em;
    border: 1px solid var(--primary);
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
}


.login a {
    color: var(--app-primary);
}

.login a:hover {
    color: var(--app-primary);
}

.form {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: auto;
    min-width: 330px;
}

.form h4 {
    border-bottom: 1px solid #686968;
    color: #686968;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.form p {
    text-align: center;
}
/* 

.form .input-group span {
    position: absolute;
    top: 13px;
    z-index: 9999;
    left: 10px;
    font-size: 25px;
    color: #9d9f9c;
}

.form .input-group input {
    padding: .375rem .75rem .375rem 40px;
} */

.form .logo {
    margin-bottom: 3em;
    max-width: 260px;
}

.form-cm .checkbox {
    font-weight: 400;
}

.form-cm .form-control {
    position: relative;
    box-sizing: border-box;
    height: 42px;
}

.form-cm button, .form-cm button:hover {
    margin: 20px 0;
    padding: 5px;
    font-size: 1.2em;
    color: #fff;
    background-color: var(--app-primary);
    border-color: var(--app-primary);
}

.form-cm .form-control:focus {
    z-index: 2;
}

.form-cm input {
    margin: 15px 0;
}

/* .form .custom-icon {
    display: block;
    font-size: 5em;
    color: var(--primary);
    margin-top: -50px;
}

.form .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
} */


#slider {
    position: relative;
}

#slider .support_btn {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 200px;
    text-align: center;
    border: 1px solid #c7cdd7;
    padding: 5px;
    border-radius: 25px;
    background: #ffffff;
}

#slider .support_btn:hover, #slider .support_btn:hover a {
    color: var(--app-primary);
}

#slider .support_btn a {
    color: var(--primary);
    text-decoration: none;
}

.bg {
    background-image: url(/material/img/app/bg1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.subtitle {
    padding: 8%;
    position: absolute;
    bottom: 0;
    margin-left: 0px;
}

.subtitle h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

.copy {
    padding: 2%;
    position: absolute;
    bottom: 0;
    margin-left: -15px;
}

.copy ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    width: 9px;
    height: 9px;
    cursor: pointer;
    border-radius: 100%;
    background: #b2b3b1;
}

.copy ul li.active {
    background: var(--primary);
}



.chat-sec {
    margin-top: 80px;
}

.chat-sec p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.chat-sec p:nth-child(2) {
    color: #a3a3a3;
}

.chat-sec p:nth-child(3) {
    color: var(--secondary);
}

.form-control:focus {
    border-color: var(--primary);
    box-shadow: none;
}

.align-center {
    align-items: center;
}

.align-center div {
    text-align: left;
    font-size: .8em;
}

.align-center div:nth-child(2) {
    height: 25px;
}



.feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}



.alert-success {
    background: white;
    color: var(--secondary);
    padding: 3px;
}

.alert-danger {
    background: white;
    color: #a94442;
    padding: 3px;
}



.drop-menu .drop-trigger {
    cursor: pointer;
}

.drop-menu .drop-trigger:hover {
    opacity: 0.8;
}

.drop-menu .drop-trigger hr {
    margin-bottom: 0;
}

.drop-menu .drop-trigger span {
    color: var(--secondary);
    font-size: 2em;
}

.drop-menu ul li {
    text-align: left;
    font-size: 80%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}